.button {
  display: flex;
  justify-content: center;
  align-items: center;


  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: getColor('accent-color');
  @include transition(color background-color);

  padding-left: 37px;
  padding-right: 37px;
  height: 44px;
  border-radius: 22px;
  border: 0;
  background-color: getColor('white');

  &:focus,
  &:hover {
    color: getColor('white');
    background-color: getColor('accent-color');

    @include transition('transition-property');
  }
}
