$colors: (
  'brown': #f0d1a5,
  'accent-color': #d41443,
  'black': #000000,
  'gray-text': #907e82,
  'gray-btn': #ecebeb,
  'white': #ffffff,
  'intensive-pink': #ffa5ba,
  'dark-background-color': #ffb8ca,
  'light-background-color': #fff5f6,
  'green': #c2e297,
  'hover-button': #c7133e,
  'hover-white-button': #ecebeb,
);

@function getColor($key) {
  @return map-get($colors, $key);
}
