<section class="contacts-section">
  <div class="container">
    <h2 class="contacts-header visually-hidden">Контакты</h2>
    <div class="contacts-container">
      <article class="contacts-card">
        <h3 class="contacts-card-header">Cafe</h3>
        <ul class="contacts-list">
          <li class="contacts-list-item">
            <p>Chicago</p>
            <p class="contacts-text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts-list-item">
            <ul>
              <li class="contacts-list-time"><p>Monday - Friday</p></li>
              <li class="contacts-list-time">
                <p class="contacts-time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts-list-time"><p>Saturday - Sunday</p></li>
              <li class="contacts-list-time">
                <p class="contacts-time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts-list-item">
            <address class="contacts-address">
              <ul class="contacts-address-list">
                <li class="contacts-address-item">
                  <a href="tel:+610383766284" class="contacts-address-link"
                    >+61(0) 383 766 284</a
                  >
                </li>
                <li class="contacts-address-item">
                  <a
                    href="mailto:noreply@envato.com"
                    class="contacts-address-link"
                    >noreply@envato.com</a
                  >
                </li>
              </ul>
            </address>
          </li>
        </ul>
      </article>

      <article class="contacts-card">
        <h3 class="contacts-card-header green">Food truck</h3>

        <ul class="contacts-list">
          <li class="contacts-list-item">
            <p>Los Angeles</p>
            <p class="contacts-text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts-list-item">
            <ul>
              <li class="contacts-list-time"><p>Monday - Friday</p></li>
              <li class="contacts-list-time">
                <p class="contacts-time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts-list-time"><p>Saturday - Sunday</p></li>
              <li class="contacts-list-time">
                <p class="contacts-time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts-list-item">
            <address class="contacts-address">
              <ul class="contacts-address-list">
                <li class="contacts-address-item">
                  <a href="tel:+610383766284" class="contacts-address-link"
                    >+61(0) 383 766 284</a
                  >
                </li>
                <li class="contacts-address-item">
                  <a
                    href="mailto:noreply@envato.com"
                    class="contacts-address-link"
                    >noreply@envato.com</a
                  >
                </li>
              </ul>
            </address>
          </li>
        </ul>
      </article>

      <article class="contacts-card">
        <h3 class="contacts-card-header">Cafe</h3>
        <ul class="contacts-list">
          <li class="contacts-list-item">
            <p>New York</p>
            <p class="contacts-text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts-list-item">
            <ul>
              <li class="contacts-list-time"><p>Monday - Friday</p></li>
              <li class="contacts-list-time">
                <p class="contacts-time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts-list-time"><p>Saturday - Sunday</p></li>
              <li class="contacts-list-time">
                <p class="contacts-time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts-list-item">
            <address class="contacts-address">
              <ul class="contacts-address-list">
                <li class="contacts-address-item">
                  <a href="tel:+610383766284" class="contacts-address-link"
                    >+61(0) 383 766 284</a
                  >
                </li>
                <li class="contacts-address-item">
                  <a
                    href="mailto:noreply@envato.com"
                    class="contacts-address-link"
                    >noreply@envato.com</a
                  >
                </li>
              </ul>
            </address>
          </li>
        </ul>
      </article>
    </div>

    <div class="contacts-container-btn">
      <a
        class="contacts-btn button"
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        >Our Locations
        <svg class="arrow-svg">
          <use href="../src/images/svg/sprite.svg#arrow-right"></use></svg
      ></a>
      <a
        class="contacts-btn button"
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        >Franchise
        <svg class="arrow-svg">
          <use href="../src/images/svg/sprite.svg#arrow-right"></use></svg
      ></a>
    </div>
  </div>
</section>
