<article class="example">
  <h1>HTML-фрагменты</h1>

  <p>
    Плагин
    <a
      href="https://github.com/posthtml/posthtml-include"
      target="_blank"
      rel="noopener noreferrer"
    >
      posthtml-include
    </a>
    позволяет добавлять в HTML-файлы страниц код из других HTML-файлов
    (фрагментов). Фрагменты хранятся в папке
    <code>src/partials</code>. Добавление происходит при компиляции файлов
    страниц, например <code>index.html</code>.
  </p>

  <p>
    Этот файл <code>example.html</code> &mdash; пример такого фрагмента, с
    разметкой определённой части главной страницы. Это очень удобно при
    командной разработке на студенческих проектах, когда в одном HTML-файле
    пишет несколько человек сразу.
  </p>

  <p>
    Синтаксис добавление фрагмента в главный файл:
    <code>
      &lt;include src="./partials/имя-файла.html"&gt;&lt;/include&gt;
    </code>
  </p>
</article>

<section class="contacts-section">
  <h2 class="contacts-header">Контакты</h2>
  <article class="contacts-card">
    <h3>Cafe</h3>
    <ul class="contacts-list">
      <li>
        <p>Chicago</p>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </li>
      <li>
        <p>Monday - Friday 06:00 AM - 10:00 PM</p>
        <p>Saturday - Sunday 08:00 AM - 16:00 PM</p>
      </li>
      <li>
        <address class="">
          <ul class="">
            <li class="">
              <a href="tel:+610383766284" class="">+61(0) 383 766 284</a>
            </li>
            <li class="">
              <a href="mailto:noreply@envato.com" class=""
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>
  </article>

  <article class="contacts-card">
    <h3>Food truck</h3>
    <ul class="contacts-list">
      <li>
        <p>Los Angeles</p>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </li>
      <li>
        <p>Monday - Friday 06:00 AM - 10:00 PM</p>
        <p>Saturday - Sunday 08:00 AM - 16:00 PM</p>
      </li>
      <li>
        <address class="">
          <ul class="">
            <li class="">
              <a href="tel:+610383766284" class="">+61(0) 383 766 284</a>
            </li>
            <li class="">
              <a href="mailto:noreply@envato.com" class=""
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>
  </article>

  <article class="contacts-card">
    <h3>Cafe</h3>
    <ul class="contacts-list">
      <li>
        <p>Chicago</p>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </li>
      <li>
        <p>Monday - Friday 06:00 AM - 10:00 PM</p>
        <p>Saturday - Sunday 08:00 AM - 16:00 PM</p>
      </li>
      <li>
        <address class="">
          <ul class="">
            <li class="">
              <a href="tel:+610383766284" class="">+61(0) 383 766 284</a>
            </li>
            <li class="">
              <a href="mailto:noreply@envato.com" class=""
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>
  </article>

  <ul>
    <li>
      <a href="#" target="_blank" rel="noopener noreferrer">Our Locations</a>
    </li>
    <li><a href="#" target="_blank" rel="noopener noreferrer">Franchise</a></li>
  </ul>
</section>
