<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Заголовок страницы</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap"
        rel="stylesheet">
</head>

<body>
    <footer class="footer">
        <div class="container">
        <ul class="footer-up">
            <li><button class="footer-button" type="button">Our Locations</button></li>
            <li><button class="footer-button" type="button">Franchise</button></li>
        </ul>
        <ul class="footer-left">
            <li class="footer-left">
                <h2 class="footer-head-firts">homemade ice cream made</h2>
                <h2 class="footer-head-second">with passion</h2>
            </li>
            <li class="footer-right">
                <ul class="footer-social">
                <li class="footer-social-list"></li>
                <li class="footer-social-list"></li>
                <li class="footer-social-list"></li>
                </ul>
            </li>
            <p class="footer-contakt">Feel free to contact</p><a href="">+61 (0) 383 766 284</a>
            </ul>
            <div class="copyright"> © 2019 - IceCream. All Rights Reserved.</div>
            </div>
    </footer>
</body>

</html>