    <footer class="footer">
        <div class="container"> 
        <ul class="footer-container">
            <li class="footer-left">
                <h2 class="footer-head-first">homemade ice cream made</h2>
                <h2 class="footer-head-second">with passion</h2>
            </li>
            <li class="footer-right">
                <ul class="footer-social">
                <li class="footer-social-container">
                    <a href="https://github.com/" target="_blank" rel="noopener noreferer"
                    aria-label="github" class="footer-social-link">
                    <svg class="footer-social-svg">
                        <use href="../src/images/svg/sprite.svg#git"></use>
                    </svg>
                    </a>
                </li>
                <li class="footer-social-container">
                    <a href="https://telegram.com/" target="_blank" rel="noopener noreferer"
                    aria-label="telegram" class="footer-social-link">
                    <svg class="footer-social-svg">
                        <use href="../src/images/svg/sprite.svg#telegram"></use>
                    </svg>
                    </a>
                    </li>
                <li class="footer-social-container">
                    <a href="https://facebook.com/" target="_blank" rel="noopener noreferer"
                    aria-label="facebook" class="footer-social-link">
                        <svg class="footer-social-svg">
                            <use href="../src/images/svg/sprite.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
                </ul>
            <p class="footer-text">Feel free to contact <a class="footer-contact" href="tel:+61(0)383766284"> +61 (0) 383 766 284</a> </p>
            </li>
        </ul>
    </div>
    </footer>
    <div class="copyright-container"><span class="copyright-text"> &copy; 2019 - IceCream. All Rights Reserved.</span></div>
