<section class="hero-section container">
    
    <div class="hero-text-box">
        <h1 class="hero-text">ice cream made with
            <span class="hero-text-accent">passion</span>
        </h1>
        <button type="button" class="hero-button">Products</button>
        <button type="button" class="hero-button hero-button-white">How it’s made?</button>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    <a href="">button svg</a>
</section>