<section class="hero-section">
    <div class="hero-container container">
        <div class="hero-text-box">
            <h1 class="hero-text">ice cream made with
                <span class="hero-text-accent">passion</span>
            </h1>
            <a class="hero-button" href="#products">Products</a>
            <a class="hero-button hero-button-white" href="#made">How it’s made?</a>
        </div>

        <div class="hero-made-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
            <a class="hero-svg-arrow-link" href="">
                <svg class="svg-arrow">
                    <use href="./images/svg/sprite.svg#arrow-products"></use>
                </svg>
            </a>
        </div>
        <div class="hero-info">
            <ul>
                <li class="hero-info-box">
                    <span class="hero-info-number">16</span>
                    <span class="hero-info-text">cafes</span>
                </li>
                <li class="hero-info-box">
                    <span class="hero-info-number">32</span>
                    <span class="hero-info-text">food trucks</span>
                </li>
            </ul>
        </div>
    </div>
</section>