<section class="products" id="products">
    <div class="container">
        <div class="products-title">
            <p class="products-text-title">100% natural</p>
            <h2 class="products-main-title">products</h2>
        </div>
        <ul class="cards-item list">
            <li class="cards-list">
                <div class="overflow-container">
                <div class="overflow overflow-first" data-produc-menu>
                    <h2 class="overflow-compounds">components</h2>
                    <ul class="overflow-list">
                        <li class="overflow-img-cont img1">
                                <picture>
                                <source srcset="./images/overflow/icecream/standart.jpg 1x, ./images/overflow/icecream/standart@2x.jpg 2x"/>
                                <img class="overflow-img1" src="../src/images/overflow/icecream/standart.jpg" alt="обычное мороженное">
                                </picture>
                            <h3 class="overflow-img-text">Standart</h3>
                        </li>
                        <li class="overflow-img-cont img2">
                            <picture>
                                <source srcset="./images/overflow/icecream/vegan.jpg 1x, ./images/overflow/icecream/vegan@2x.jpg 2x" />
                                <img class="overflow-img1" src="../src/images/overflow/icecream/vegan.jpg" alt="веган мороженное">
                            </picture>
                            <h3 class="overflow-img-text">Vegan</h3>
                        </li>
                        <li class="overflow-img-cont img3">
                            <picture>
                                <source srcset="./images/overflow/icecream/tasty.jpg 1x, ./images/overflow/icecream/tasty@2x.jpg 2x" />
                                <img class="overflow-img1" src="../src/images/overflow/icecream/tasty.jpg" alt="вкусное мороженное">
                            </picture>
                            <h3 class="overflow-img-text">Tasty</h3>
                        </li>
                        <div class="overflow-compounds-list zero">
                            <p>components 0%</p>
                            <p>components 0%</p>
                            <p>components 0%</p>
                            <p>components 0%</p>
                            <p>components 0%</p>
                        </div>
                        <div class="overflow-compounds-list first">
                            <p>components 30% </p>
                            <p>components 10% </p>
                            <p>components 20% </p>
                            <p>components 20% </p>
                            <p>components 20% </p>
                        </div>
                        <div class="overflow-compounds-list second">
                            <p>components 0%</p>
                            <p>components 0%</p>
                            <p>components 100%</p>
                            <p>components 0% </p>
                            <p>components 0% </p>
                        </div>
                        <div class="overflow-compounds-list three">
                            <p>components 20%</p>
                            <p>components 40%</p>
                            <p>components 10%</p>
                            <p>components 20% </p>
                            <p>components 10% </p>
                        </div>
                    </ul>
                </div>
                </div>
                <picture>
                    <source
                        srcset="./images/products/mobile/product-icecream.png 1x, ./images/products/mobile/product-icecream@x2.png 2x"
                        media="(max-width: 767px)" />
                    <source
                        srcset="./images/products/tablet/product-icecream.png 1x, ./images/products/tablet/product-icecream@x2.png 2x"
                        media="(min-width: 768px)" />
                    <source
                        srcset="./images/products/desktop/product-icecream.png 1x, ./images/products/desktop/product-icecream@x2.png 2x"
                        media="(min-width: 1200px)" />
                    <img src="./images/products/mobile/product-icecream.png" class="cards-img"
                        alt="мороженое в стаканчике">
                </picture>
                <h3 class="cards-box-title">ice cream</h3>
                <a href="#" class="cards-link">
                    <!-- <div>
                        <svg class="cards-svg">
                        <use href="./images/svg/red-dot.svg"></use>
                        <use href="./images/svg/red-dot.svg"></use>
                        <use href="./images/svg/red-dot.svg"></use>
                    </svg>
                    </div> -->
                    <svg class="cards-svg">
                        <use href="./images/svg/group-3.svg">
                        </use>
                    </svg>
                </a>
                <p class="cards-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna aliqua facilisis.</p>
                <button class="icon-link" data-product-button>
                    <svg class="cards-icon">
                        <use href="./images/svg/sprite.svg#arrow-products">
                        </use>
                    </svg>
                </button>
            </li>
            <li class="cards-list">
                <div class="overflow-container">
                <div class="overflow overflow-second" data-produc1-menu>
                    <h2 class="overflow-compounds">components</h2>
                    <ul class="overflow-list">
                        <li class="overflow-img-cont img1">
                            <picture>
                                <source srcset="./images//overflow/coffee/standart.jpg 1x, ./images//overflow/coffee/standart@2x.jpg 2x" />
                                <img class="overflow-img1" src="../src/images/overflow/coffee/standart.jpg" alt="обычное кофе">
                            </picture>
                            <h3 class="overflow-img-text">Standart</h3>
                        </li>
                        <li class="overflow-img-cont img2">
                            <picture>
                                <source srcset="./images//overflow/coffee/vegan.jpg 1x, ./images//overflow/coffee/vegan@2x.jpg 2x" />
                                <img class="overflow-img1" src="../src/images/overflow/coffee/vegan.jpg" alt="веган кофе">
                            </picture>
                            <h3 class="overflow-img-text">Vegan</h3>
                        </li>
                        <li class="overflow-img-cont img3"><a href="#">
                            <picture>
                                <source srcset="./images//overflow/coffee/tasty.jpg 1x, ./images//overflow/coffee/tasty@2x.jpg 2x" />
                                <img class="overflow-img1" src="../src/images/overflow/coffee/tasty.jpg" alt="вкусное кофе">
                            </picture>
                            <h3 class="overflow-img-text">Tasty</h3>
                            </a>
                        </li>
                        <div class="overflow-compounds-list zero">
                            <p>components 0%</p>
                            <p>components 0%</p>
                            <p>components 0%</p>
                            <p>components 0%</p>
                            <p>components 0%</p>
                        </div>
                        <div class="overflow-compounds-list first">
                            <p>components 30% </p>
                            <p>components 10% </p>
                            <p>components 20% </p>
                            <p>components 20% </p>
                            <p>components 20% </p>
                        </div>
                        <div class="overflow-compounds-list second">
                            <p>components 0%</p>
                            <p>components 0%</p>
                            <p>components 100%</p>
                            <p>components 0% </p>
                            <p>components 0% </p>
                        </div>
                        <div class="overflow-compounds-list three">
                            <p>components 20%</p>
                            <p>components 40%</p>
                            <p>components 10%</p>
                            <p>components 20% </p>
                            <p>components 10% </p>
                        </div>
                    </ul>
                </div>
                </div>
                <picture>
                    <source
                        srcset="./images/products/mobile/product-icecoffee.png 1x, ./images/products/mobile/product-icecoffee@x2.png 2x"
                        media="(max-width: 767px)" />
                    <source
                        srcset="./images/products/tablet/product-icecoffee.png 1x, ./images/products/tablet/product-icecoffee@x2.png 2x"
                        media="(min-width: 768px)" />
                    <source
                        srcset="./images/products/desktop/product-icecoffee.png 1x, ./images/products/desktop/product-icecoffee@x2.png 2x"
                        media="(min-width: 1200px)" />
                    <img src="./images/products/mobile/product-icecoffee.png" class="cards-img" alt="холодный кофе">
                </picture>
                <h3 class="cards-box-title">ice coffee</h3>
                <a href="#" class="cards-link">
                    <svg class="cards-svg">
                        <use href="">
                        </use>
                    </svg>
                </a>
                <p class="cards-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna aliqua facilisis.</p>
                <button class="icon-link" data-product1-button>
                    <svg class="cards-icon">
                        <use href="./images/svg/sprite.svg#arrow-products">
                        </use>
                    </svg>
                </button>
            </li>
            <li class="cards-list">
                <div class="overflow-container">
                <div class="overflow overflow-three" data-produc2-menu>
                    <h2 class="overflow-compounds">components</h2>
                    <ul class="overflow-list">
                        <li class="overflow-img-cont img1">
                            <picture>
                                <source srcset="./images//overflow/milkshake/standart.jpg 1x, ./images//overflow/milkshake/standart@2x.jpg 2x" />
                                <img class="overflow-img1" src="../src/images/overflow/milkshake/standart.jpg" alt="обычное коктейль">
                            </picture>
                            <h3 class="overflow-img-text">Standart</h3>
                        </li>
                        <li class="overflow-img-cont img2">
                            <picture>
                                <source srcset="./images//overflow/milkshake/vegan.jpg 1x, ./images//overflow/milkshake/vegan@2x.jpg 2x" />
                                <img class="overflow-img1" src="../src/images/overflow/milkshake/vegan.jpg" alt="веган коктейль">
                            </picture>
                            <h3 class="overflow-img-text">Vegan</h3>
                        </li>
                        <li class="overflow-img-cont img3">
                            <picture>
                                <source srcset="./images//overflow/milkshake/tasty.jpg 1x, ./images//overflow/milkshake/tasty@2x.jpg 2x" />
                                <img class="overflow-img1" src="../src/images/overflow/milkshake/tasty.jpg" alt="вкусное кофе">
                            </picture>
                            <h3 class="overflow-img-text">Tasty</h3>
                        </li>
                        <div class="overflow-compounds-list zero">
                            <p>components 0%</p>
                            <p>components 0%</p>
                            <p>components 0%</p>
                            <p>components 0%</p>
                            <p>components 0%</p>
                        </div>
                        <div class="overflow-compounds-list first">
                            <p>components 30% </p>
                            <p>components 10% </p>
                            <p>components 20% </p>
                            <p>components 20% </p>
                            <p>components 20% </p>
                        </div>
                        <div class="overflow-compounds-list second">
                            <p>components 0%</p>
                            <p>components 0%</p>
                            <p>components 100%</p>
                            <p>components 0% </p>
                            <p>components 0% </p>
                        </div>
                        <div class="overflow-compounds-list three">
                            <p>components 20%</p>
                            <p>components 40%</p>
                            <p>components 10%</p>
                            <p>components 20% </p>
                            <p>components 10% </p>
                        </div>
                    </ul>
                </div>
                </div>
                <picture>
                    <source
                        srcset="./images/products/mobile/product-milkshake.png 1x, ./images/products/mobile/product-milkshake@x2.png 2x"
                        media="(max-width: 767px)" />
                    <source
                        srcset="./images/products/tablet/product-milkshake.png 1x, ./images/products/tablet/product-milkshake@x2.png 2x"
                        media="(min-width: 768px)" />
                    <source
                        srcset="./images/products/desktop/product-milkshake.png 1x, ./images/products/desktop/product-milkshake@x2.png 2x"
                        media="(min-width: 1200px)" />
                    <img src="./images/products/mobile/product-milkshake.png" class="cards-img" alt="молочный коктейль">
                </picture>
                <h3 class="cards-box-title">milkshakes</h3>
                <a href="#" class="cards-link">
                    <svg class="cards-svg">
                        <use href="">
                        </use>
                    </svg>
                </a>
                <p class="cards-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna aliqua facilisis.</p>
                <button href="#" class="icon-link" data-product2-button>
                    <svg class="cards-icon">
                        <use href="./images/svg/sprite.svg#arrow-products">
                        </use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>