<section class="products">
    <div class="container">
        <div class="products-title">
            <p class="products-text-title">100% natural</p>
            <h2 class="products-main-title">products</h2>
        </div>
        <ul class="cards-item list">
            <li class="cards-list">
                <div class="cards-img">
                <img src="./images/products/mobile/product-icecream.png" alt="мороженое в стаканчике" width="249" height="252">
                </div>
                <div class="cards-box">
                    <h3 class="cards-box-title">ice cream</h3>
                    <svg class="cards-svg" width="26" height="6">
                        <use href="">
                        </use>
                    </svg>
                    <p class="cards-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
                        </p>
                    <a href="">
                        <svg class="cards-icon" width="40" height="40">
                            <!-- <use href="./images/sprite.svg#arrow-products">
                            </use> -->
                        </svg>
                    </a>
                </div>
            </li>
            <li class="cards-list">
                <div class="cards-img">
                    <img src="./images/products/mobile/product-icecoffee.png" alt="холодный кофе" width="249" height="252">
                </div>
                <div class="cards-box">
                    <h3 class="cards-box-title">ice coffee</h3>
                    <svg class="cards-svg" width="26" height="6">
                        <use href="">
                        </use>
                    </svg>
                    <p class="cards-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut
                        labore et</p>
                    <a href="">
                        <svg class="cards-icon" width="40" height="40">
                            <use href="">
                            </use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="cards-list">
                <div class="cards-img">
                    <img src="./images/products/mobile/product-milkshake.png" alt="молочный коктейль" width="249" height="252">
                </div>
                <div class="cards-box">
                    <h3 class="cards-box-title">milkshakes</h3>
                    <svg class="cards-svg" width="26" height="6">
                        <use href="">
                        </use>
                    </svg>
                    <p class="cards-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut
                        labore et</p>
                    <a href="">
                        <svg class="cards-icon" width="40" height="40">
                            <use href="">
                            </use>
                        </svg>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>