.contacts-section {
  background-image: linear-gradient(
    to bottom,
    getColor('white') 5.7%,
    getColor('light-background-color') 5.7%,
    getColor('light-background-color') 94.3%
  );

  @include size(tablet) {
    background-image: linear-gradient(
      to bottom,
      getColor('white') 11.84%,
      getColor('light-background-color') 11.84%,
      getColor('light-background-color') 88.16%
    );
  }

  @include size(desktop) {
    background-image: url('../images/contacts/contacts-bg.png'),
      linear-gradient(
        to bottom,
        getColor('white') 14.5%,
        getColor('light-background-color') 14.5%,
        getColor('light-background-color') 85.5%
      );

    background-repeat: no-repeat;
    background-position: 0 102px, 0 0;
    background-size: auto;
  }
}

.contacts-container {
  @include size(tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contacts-card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  padding-top: 43px;
  padding-bottom: 43px;
  padding-right: 20px;
  padding-left: 20px;
  width: 220px;

  background-color: getColor('white');
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @include size(tablet) {
    margin: 0;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 50px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include size(desktop) {
    width: 330px;
    padding-right: 43px;
    padding-left: 43px;
    padding-bottom: 60px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 25px;

  @include size(tablet) {
    margin-bottom: 30px;
  }
}

.contacts-list-item {
  position: relative;

  &:not(:last-child) {
    padding-bottom: 25px;
  }

  &:not(:last-child)::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
  }
}

.contacts-card-header {
  display: inline-block;
  line-height: 1.86;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 25px;

  text-transform: uppercase;
  background-color: getColor('brown');
  border-radius: 4px;
  color: getColor('white');

  @include size(tablet) {
    margin-bottom: 30px;
    font-size: 14px;
  }

  @include size(desktop) {
    margin-bottom: 32px;
    font-size: 16px;
  }
}

.green {
  background-color: getColor('green');
}

.contacts-text,
.contacts-address-link {
  color: getColor('gray-text');
  line-height: 1.5;
}
.contacts-text {
  margin-top: 10px;

  @include size(tablet-only) {
    margin-top: 14px;
  }
}

.contacts-time {
  color: getColor('intensive-pink');
}

.contacts-list-time:nth-child(2n):not(:last-child) {
  margin-bottom: 10px;

  @include size(tablet) {
    margin-bottom: 15px;
  }
}

.contacts-container-btn {
  display: block;
  width: 165px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;

  @include size(tablet) {
    display: flex;
    width: 395px;
    margin-top: 86px;
  }
}

.arrow-svg {
  height: 20px;
  width: 10px;
  margin-left: 8px;
  fill: getColor('accent-color');
  @include transition(fill);
}

.contacts-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 17px;
  padding-right: 17px;

  @include size(tablet) {
    padding-left: 37px;
    padding-right: 37px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @include size(tablet) {
      margin-bottom: 0;
      margin-right: 15px;
    }
  }

  &:focus .arrow-svg,
  &:hover .arrow-svg {
    fill: getColor('white');
  }
}

.contacts-btn:nth-child(odd) {
  color: getColor('white');
  background-color: getColor('accent-color');
  @include transition(color);

  &:focus,
  &:hover,
  &:focus .arrow-svg,
  &:hover .arrow-svg {
    color: getColor('accent-color');
    background-color: getColor('white');
    fill: getColor('accent-color');
  }
}

.contacts-btn:nth-child(odd) .arrow-svg {
  fill: getColor('white');
  @include transition(fill);
}
