.footer {
  background-color: getColor(light-background-color);
  height: 250px;
  padding-left: 115px;
  padding-right: 115px;

  &-head-first {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: getColor(intensive-pink);
  }
  &-head-second {
    color: getColor(accent-color);

    font-family: Titan One, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  &-container {
    display: flex;
  }
  &-left {
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  &-right {
    width: calc(100% / 2);
    display: inline-flex;
    flex-direction: column;
    justify-content: right;
  }
  &-contakt {
    padding-right: 7px;
  }

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.31;
    color: getColor(accent-color);

    padding-left: 37px;
    padding-right: 37px;
    height: 44px;
    border-radius: 22px;
    border: 0;
    background-color: white;

    &:focus,
    &:hover {
      color: white;
      background-color: getColor(accent-color);
    }
  }
  &-social {
    display: flex;
    justify-content: right;
  }
  &-social-svg {
    width: inherit;
    height: inherit;
    fill: white;
  }
  &-social-container {
    display: flex;
    margin-right: 25px;
    margin-bottom: 50px;
  }
  &-social-link {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #fea5bb;
    &:focus,
    &:hover {
      background-color: getColor(accent-color);
    }
  }
  &-contakt {
    text-align: right;
  }
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-top: 1px solid #e1e1e1;
  background-color: getColor(light-background-color);
}
.footer-social {
  display: flex;
}
.footer-social-svg {
  width: inherit;
  height: inherit;
  fill: white;
}
.footer-social-container {
  display: flex;
}
.footer-social-link {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fea5bb;
  &:focus,
  &:hover {
    background-color: getColor(accent-color);
  }
}
