.header {
  position: relative;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: pink;
  padding: 5px 20px;
  @include size(tablet) {
    padding: 37px 35px 15px 35px;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-logo {
  display: block;
  width: 200px;
  height: 50px;
  background-image: url(../images/svg/header-logo.svg);
  @include size(desktop) {
    margin-right: 110px;
  }
}

.header-menu-container {
  @media screen and (max-width: 1199px) {
    display: none;
    // transform: translateX(100%);
    // transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    // overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 250px;
    // height: 500px;
    background-color: #e17992;
    text-align: center;
    padding: 60px 0px;
    filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
  }

  @include size(desktop) {
    // position: static;
    display: flex;
    // width: 100%;
    // background-color: rgba($color: #000000, $alpha: 0);
    // padding: 0px;
  }
}
.header-menu-container.is-open {
  display: block;
  filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
  // transform: translateX(0%);
}
.header-close-btn {
  position: absolute;
  top: 15px;
  right: 18px;
  padding: 0px;
  width: 30px;
  height: 30px;
  background-color: getColor('white');
  @include size(desktop) {
    display: none;
  }
}

.header-order-btn_menu {
  width: 160px;
  height: 45px;
  background: getColor('white');
  font-size: 16px;
  line-height: 1.313;
  color: getColor('accent-color');
  border: none;
  border-radius: 22px;
  margin-bottom: 20px;
  @include size(desktop) {
    display: none;
  }
}

.header-menu {
  .item {
    padding: 10px 20px;
    text-align: start;
    border: 1px solid #e18298;
    @include size(desktop) {
      padding: 0px;
      border: none;
    }
  }
  @include size(desktop) {
    display: flex;
    .item:not(:last-child) {
      margin-right: 35px;
    }
  }
}

.header-menu-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.286;
  text-decoration: none;
  color: getColor('white');
  &:hover {
    color: getColor('accent-color');
  }
  @include size(desktop) {
    font-size: 16px;
    line-height: 1.313;
  }
}

.header-btn-container {
  display: flex;
  align-items: center;
  .item {
    display: flex;
  }

  .item:not(:last-child) {
    @include size(tablet) {
      margin-right: 30px;
    }
  }
}

.header-burger {
  width: 20px;
  height: 20px;
  padding: 0px;
  @include size(desktop) {
    display: none;
  }
}

.header-order-btn {
  display: none;
  width: 160px;
  height: 45px;
  background: #ffffff;
  font-size: 16px;
  line-height: 1.313;
  color: getColor('accent-color');
  border: none;
  border-radius: 22px;
  cursor: pointer;
  @include size(tablet) {
    display: block;
  }
}
