.hero-section {
  max-width: 100%;
  background-color: getColor('dark-background-color');
}

.hero-container {
  position: relative;

  padding-top: 193px;
  padding-bottom: 160px;
  padding-left: 20px;

  background-image: url(../images/hero/hero-ice-mobile-1x.png),
    url(../images/hero/hero-ellipse-pink-tablet-1x.png);
  // background-position: bottom right 32px, right -50px center;

  @include size(mobile-only) {
    background-position: bottom right 80px, right 5px center;
  }

  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-container {
      background-image: url(../images/hero/hero-ice-mobile-@x2.png),
        url(../images/hero/hero-ellipse-pink-tablet-@x2.png);
    }
  }

  @include size(tablet) {
    padding-top: 102px;
    padding-bottom: 173px;
    padding-left: 34px;

    background-image: url(../images/hero/hero-ice-tablet-1x.png),
      url(../images/hero/hero-woman-tablet-1x.png),
      url(../images/hero/hero-ellipse-pink-tablet-1x.png),
      url(../images/hero/hero-milk-tablet-1x.png),
      url(../images/hero/hero-ellipse-white-tablet-1x.png),
      url(../images/hero/hero-ellipse-white-tablet-1x.png);

    background-position: bottom right 247px, bottom right 34px,
      right 137px bottom 46px, left 34px bottom 28px, top 94px right 34px,
      top 151px right 34px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero-container {
        background-image: url(../images/hero/hero-ice-tablet-@x2.png),
          url(../images/hero/hero-woman-tablet-@x2.png),
          url(../images/hero/hero-ellipse-pink-tablet-@x2.png),
          url(../images/hero/hero-milk-tablet-@x2.png),
          url(../images/hero/hero-ellipse-white-tablet-@x2.png),
          url(../images/hero/hero-ellipse-white-tablet-@x2.png);
      }
    }
  }

  @include size(desktop) {
    padding-top: 171px;
    padding-bottom: 292px;
    padding-left: 115px;

    background-image: url(../images/hero/hero-ice-desktop-1x.png),
      url(../images/hero/hero-woman-desktop-1x.png),
      url(../images/hero/hero-ellipse-pink-desktop-1x.png),
      url(../images/hero/hero-milk-desktop-1x.png),
      url(../images/hero/hero-ellipse-white-desktop-1x.png),
      url(../images/hero/hero-ellipse-white-desktop-1x.png);
    background-position: bottom right 450px, bottom right 109px,
      right 267px bottom 75px, left 77px bottom 45px, top 156px right 97px,
      top 248px right 97px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero-container {
        background-image: url(../images/hero/hero-ice-desktop-@x2.png),
          url(../images/hero/hero-woman-desktop-@x2.png),
          url(../images/hero/hero-ellipse-pink-desktop-@x2.png),
          url(../images/hero/hero-milk-desktop-@x2.png),
          url(../images/hero/hero-ellipse-white-desktop-@x2.png),
          url(../images/hero/hero-ellipse-white-desktop-@x2.png);
      }
    }
  }
}

.hero-text-box {
  text-align: left;
}

.hero-text {
  display: grid;

  margin-bottom: 19px;

  width: 218px;
  height: 106px;

  font-family: Titan One, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;

  text-transform: uppercase;

  color: getColor('white');

  @include size(tablet) {
    margin-bottom: 20px;
    width: 162px;
    height: 80px;

    font-size: 22px;
  }

  @include size(desktop) {
    margin-bottom: 25px;
    width: 227px;
    height: 137px;

    font-size: 38px;
  }
}

.hero-text-accent {
  line-height: 0.9;
  font-size: 48px;
  color: getColor('accent-color');

  @include size(tablet) {
    font-size: 34px;
  }

  @include size(desktop) {
    font-size: 58px;
  }
}

.hero-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 62px;
  height: 24px;

  margin-right: 8px;

  font-size: 8px;
  line-height: 1.25;

  border: 1px solid transparent;
  border-radius: 20px;

  color: getColor('white');
  background-color: getColor('accent-color');

  cursor: pointer;
  @include transition(color background-color);

  &:hover,
  &:focus {
    color: getColor('accent-color');
    background-color: getColor('white');
    transform: scale(1.07);
  }

  @include size(desktop) {
    width: 102px;
    height: 40px;

    margin-right: 15px;

    font-size: 14px;
    line-height: 1.3;
  }
}

.hero-button-white {
  color: getColor('accent-color');
  background-color: getColor('white');

  width: 83px;
  height: 24px;

  &:hover,
  &:focus {
    color: getColor('white');
    background-color: getColor('accent-color');
  }

  @include size(desktop) {
    width: 138px;
    height: 40px;
  }
}

.hero-made-box {
  position: absolute;
  left: 154px;
  bottom: 59px;

  width: 114px;
  height: 48px;
  font-size: 8px;
  line-height: 1.5;
  font-weight: normal;

  color: getColor('white');

  @include size(mobile-only) {
    display: none;
  }

  @include size(desktop) {
    left: 295px;
    bottom: 102px;
    width: 200px;
    height: 78px;
    font-size: 14px;
    line-height: 1.4;
  }
}

.hero-info {
  position: absolute;
  top: 96px;
  right: 44px;

  @include size(desktop) {
    top: 160px;
    right: 115px;
  }

  @include size(mobile-only) {
    display: none;
  }
}

.hero-info-box {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero-info-number {
  font-family: Titan One, sans-serif;

  font-size: 28px;
  line-height: 1.15;

  letter-spacing: 0.04em;

  color: getColor('accent-color');

  @include size(desktop) {
    font-size: 46px;
  }
}

.hero-info-text {
  font-weight: normal;
  font-size: 8px;
  line-height: 1.28;

  color: getColor('white');

  @include size(desktop) {
    font-size: 14px;
  }
}

.hero-svg-arrow-link {
  display: flex;
  justify-content: center;
  align-items: center;

  outline: none;

  margin-top: 7px;

  width: 18px;
  height: 18px;

  border-radius: 50%;
  background-color: getColor('white');

  @include transition(background-color);

  @include size(desktop) {
    width: 26px;
    height: 26px;

    margin-top: 20px;
  }

  &:hover,
  &:focus {
    background-color: getColor('accent-color');
  }

  &:hover .svg-arrow,
  &:focus .svg-arrow {
    fill: getColor('white');
  }
}

.svg-arrow {
  width: 6px;
  height: 6px;
  fill: getColor('accent-color');

  @include size(desktop) {
    width: 9px;
    height: 9px;
  }
}
