.products {
  padding-top: 120px;
  padding-bottom: 98px;
}

.products-title {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  justify-content: center;

  @include size(tablet) {
    margin-bottom: 150px;
  }

  @include size(desktop) {
    margin-bottom: 259px;
  }
}

.products-text-title {
  font-family: Titan One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;

  color: getColor('intensive-pink');

  @include size(tablet) {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0em;
  }

  @include size(desktop) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products-main-title {
  margin-bottom: 144px;
  font-family: Titan One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: getColor('accent-color');

  @include size(tablet) {
    font-size: 48px;
  }

  @include size(desktop) {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}

.cards-item {
  display: block;

  @include size(tablet) {
    justify-content: center;
    display: flex;
  }
}

.cards-list {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 161px;
  padding-bottom: 41px;
  width: 280px;
  height: 485px;
  background-color: getColor('dark-background-color');
  border-radius: 24px;
  margin-bottom: 130px;

  @include size(tablet) {
    padding-top: 152px;
    padding-bottom: 40px;
  }

  @include size(desktop) {
    padding-top: 163px;
    padding-bottom: 50px;
  }

  &:last-child {
    margin-bottom: 0px;
  }

  &:nth-child(2) {
    background-color: getColor('brown');
  }

  &:nth-child(3) {
    background-color: getColor('green');

    @include size(tablet) {
      margin-right: 0;
    }
  }

  @include size(tablet) {
    margin-left: 0;
    margin-right: 20px;
    width: 220px;
    margin-bottom: 0;
  }

  @include size(desktop) {
    margin-right: 24px;
    width: 329px;
    height: 525px;
  }
}

.cards-img {
  margin: 0;
  width: 249px;
  height: 252px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  transform: translate(15px, -113px);

  @include size(tablet) {
    width: 220px;
    height: 226px;
    transform: translate(1px, -104px);
  }

  @include size(desktop) {
    width: 335px;
    height: 335px;
    transform: translate(1px, -210px);
  }
}

.cards-box-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: getColor('white');

  @include size(desktop) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.cards-text {
  padding-right: 39px;
  padding-left: 41px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;

  text-align: center;
  letter-spacing: 0.04em;

  color: getColor('white');
  overflow: hidden;

  @include size(tablet) {
    padding-right: 11px;
    padding-left: 11px;
    line-height: 1.9;
    height: 124px;
  }

  @include size(desktop) {
    padding-right: 44px;
    padding-left: 44px;
    font-size: 16px;
    line-height: 1.76;
    height: 106px;
  }
}

.cards-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;

  @include size(desktop) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.cards-svg {
  width: 6px;
  height: 6px;
  // fill: getColor('white');
  background-color: getColor('white');
  border-radius: 50%;
  margin-right: 4px;

  &:last-child {
    margin-right: 0;
  }
}

.icon-link {
  position: absolute;
  left: 120px;
  right: 120px;
  bottom: 60px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: getColor('white');
  border: 0px;

  &:hover,
  &:focus {
    background-color: getColor('accent-color');
  }

  &:hover .cards-icon,
  &:focus .cards-icon {
    fill: getColor('white');
  }

  @include size(tablet) {
    left: 90px;
    right: 90px;
    bottom: 40px;
  }

  @include size(desktop) {
    left: 145px;
    right: 145px;
    bottom: 50px;
  }
}

.cards-icon {
  fill: getColor('accent-color');
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
