.slider__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    getColor('light-background-color') 5.9%,
    getColor('white') 6%
  );

  @include size(mobile) {
    background-image: linear-gradient(
      to bottom,
      getColor('light-background-color') 8.1%,
      getColor('white') 6%
    );
  }
  @include size(tablet) {
    background-image: linear-gradient(
      to bottom,
      getColor('light-background-color') 11.8%,
      getColor('white') 6%
    );
  }
  @include size(desktop) {
    background-image: linear-gradient(
      to bottom,
      getColor('light-background-color') 15.8%,
      getColor('white') 6%
    );
  }
}

.slider__section_collage {
  top: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 80px;

  @include size(tablet) {
    margin-bottom: 121px;
  }
  @include size(desktop) {
    margin-bottom: 123px;
  }
}

.slider {
  position: relative;
  overflow: hidden;
  width: 280px;
  margin: 0 auto;

  @include size(tablet) {
    width: 620px;
  }
  @include size(desktop) {
    width: 926px;
  }
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.slider__content_img {
  display: block;
  height: auto;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 29px;

  @include size(tablet) {
    margin-bottom: 19px;
  }
  @include size(desktop) {
    margin-bottom: 15px;
  }
}

.slider__content_text {
  position: relative;
  width: 100%;
  height: auto;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  color: getColor('black');
  text-decoration-color: getColor('text-decoration-color');
  text-decoration-line: underline;
  text-underline-offset: 0.7em;
  background: getColor('slider-text-background');
  padding: 43px 50px 20px 50px;

  @include size(tablet) {
    padding: 47px 36px 28px 60px;
  }
  @include size(desktop) {
    padding: 47px 59px 39px 59px;
  }
}

.slider__content_text::before {
  position: absolute;
  content: '\201D';
  font-family: serif;
  font-style: normal;
  font-weight: 700;
  font-size: 140px;
  top: -110px;
  left: 40px;
  color: getColor('quotation-marks-color');

  @include size(desktop) {
    left: 30px;
  }
}

.slider__content_reddot {
  border-radius: 4px;
  background-color: getColor('slider-reddots-color');
}

.slider__content_title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  color: getColor('black');
  padding-bottom: 128px;

  @include size(tablet) {
    padding-bottom: 166px;
  }
  @include size(desktop) {
    padding-bottom: 179px;
  }
}

.slider__indicators {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 90px;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;

  @include size(tablet) {
    bottom: 120px;
  }
  @include size(desktop) {
    bottom: 130px;
  }
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 12px;
  height: 12px;
  margin-right: 9px;
  margin-left: 9px;
  text-indent: -999px;
  cursor: pointer;
  background-color: getColor('slider-indicators-color');
  background-clip: padding-box;
  border-radius: 100px;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.slider__indicators li.active {
  opacity: 1;
  background-color: transparent;
  border-radius: 0;
  background-image: url(../images/svg/house.svg);
}
